<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


  <title>Shootopia</title>
</head>
<body>
    <h3>{{ brand.getBrandName }}</h3>
    <div class='container'>
        <div class="row"><!-- - - - EDIT BRAND - - - -->

                <form action="/brand/{{ brand.getId }}/edit" method="post">
                    <button type="submit" class='btn btn-xs btn-success'>Edit Brand</button>
                </form>

        </div>

<br>
        <div class='row'><!-- - - - ASSOCIATED STORES - - - -->
            <div name="add_to_store" class="col-sm-6">
                <div>
                    <!-- - - - LIST STORES WITH BRAND - - - -->
                    {% if brand_stores is not empty %}
                    <h4>Available at these fine locations:</h4>
                        {% for store in brand_stores %}
                        <li><a href='/store/{store.getId}'>{{ store.getStoreName }}</a></li>
                        {% endfor %}
                        {% else %}
                        <p>No stores have been added yet for this brand.  Do any of these stores carry it?  Or add a new store to our list!</p>
                        {% endif %}

                        <!-- - - - ADD STORE TO BRAND - - - -->
                            {% if stores is not empty %}
                            <h4>All Stores</h4>
                                {% for store in stores %}
                                <a href='/store/{store.getId}'>{{ store.getStoreName }}</a></br>
                                {% endfor %}
                                {% else %}
                                <a href='/add_store'>Add a new store</a>
                            {% endif %}


                </div>


            </div>
        </div>



    </div>

</body>
</html>
