<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <title>Shootopia</title>
</head>
<body>
    <h3>Shootopia.</h3>
    <form action="/new_brand" method="post">
        <input id="brand_name" name="brand_name" type="text" value='New brand'>
        <button type="submit" class='btn btn-xs btn-danger'>Add It</button>
    </form>

    <div class='container'>
        {% if brands is not empty %}
            {% for brand in brands %}
            <!-- display brands as links to getBrandStores({id}) -->
            <li>{{ brand.getBrandName }}</li>
            {% endfor %}
        {% endif %}

        <form action'/find_store' >
    </div>










</body>
</html>
