<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <title>Shootopia</title>
</head>
<body>
    <h3>Shootopia.</h3>
    <form action="/new_brand" method="post">
        <input id="brand_name" name="brand_name" type="text" value='New brand'>
        <button type="submit" class='btn btn-xs btn-danger'>Add a Brand</button>
    </form>

    <div class='container'>
        {% if brands is not empty %}
            {% for brand in brands %}
            <li>{{ brand.getBrandName }}</li>
            {% endfor %}
        {% endif %}
        <!--{# display brands as links to getBrandStores({id}) #}-->

    </div>


    <form action="/new_store" method="post">
        <input id="name" name="name" type="text" value='New Store'>
        <button type="submit" class='btn btn-xs btn-danger'>Add a Store</button>
    </form>

    <div class='container'>
        {% if stores is not empty %}
            {% for store in stores %}
            <li>{{ store.getName }}</li>
            {% endfor %}
        {% endif %}

    </div>







</body>
</html>
